
.heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
.todos{
    text-align: center;
    margin: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ff6164;
    color: white;
    border-radius: 8px;
    gap: 1.5rem;
}

.navbar-links{
    display: flex;
    gap: 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
}

.navbar-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}