<h2 class="task-head">Add a Task</h2>
<div class="form-container">
      <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="todo">Task</label>
          <input type="text" [(ngModel)]="title" id="text" name="title" required="">
        </div>
        <div class="form-group">
          <label for="textarea">Description</label>
          <textarea type="text" name="desc" id="textarea" rows="10" cols="30" [(ngModel)]="desc" required="">          </textarea>
        </div>
        <button class="form-submit-btn" type="submit">Add Task</button>
      </form>
    </div>
